html {
  font-family: 'Roboto', sans-serif;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  background-size: cover;
}

/* UNIVERSAL */

h2 {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 2.5rem;
}

span {
  font-family: "Lato";
  font-weight: 300;
  font-size: 1.25rem;
  letter-spacing: .025em;
  line-height: 1.15em;
}

p {
  font-family: "Lato";
  font-weight: 300;
  font-size: 1rem;
}

/* HEADER SECTION */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 1.5rem;
  background-color: #fffff0;
 }

/* Logo */
 .logo {
   display: flex;
   align-items: center;
   height: 4rem;
 }

.logo img {
  height: 4rem;
}

.logo h4 {
font-family: "Lato"
  font-size: 1.5rem;
}

.colmar {
  font-weight: bold;
  margin: 0;
}

.academy {
  color: #6495ed;
  margin-left: -.2em;
  font-weight: 400;
}

/* Nav */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  font-family: "Lato";
  font-weight: 400;
  font-size: 1.25rem;
  color: black;
}

#campus {
  margin: 0 .6rem;
}

#online {
  margin: 0 .6rem;
}

#companies {
  margin: 0 .6rem;
}
#sign-in {
  margin: 0 .6rem;
}

 .desktop-screen a:hover {
   font-weight: 700;
   color: #6495ed;
 }

 .mobile-screen {
   display: none;
 }

/*Nav Media Query*/
@media only screen and (max-width: 950px) {
  .nav {
    width: 100%
  }

  .desktop-screen {
    display: none;
  }

  .logo {
    display: none;
  }

  .mobile-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    width: 100%;
  }

  .mobile-screen img {
    height: 2.25rem;
  }
}

/* MAIN BANNER SECTION */

.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #808080;
}

/* Left Main Banner */
.image-container {
padding: 2rem 1.5rem;
}

.banner-image {
  width: 100%;
}

.left {
width: 60%;
}

/* Right Main Banner */
.right {
  width: 40%;
  display: flex;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

h1 {
  font-family: "Roboto";
  font-size: 3.75rem;
  font-weight: 900;
  color: #fffacd;
  text-shadow: 1.5px 1.5px 2px black;
  padding-left: 2.75rem;
  letter-spacing: .025em;
}

.banner-subtext {
  justify-content: flex-start;
  margin: 0;
  padding: 1.5rem 0;
}

.banner-subtext h3{
  font-family: "Lato";
  font-weight: bold;
  font-size: 2.25rem;
  padding: 2rem 2rem 2rem 3rem;
}

.banner .start-here {
  display: block;
  flex-direction: center;
  background-color: #fffacd;
  text-align: center;
  padding: 1rem 4rem;
  box-shadow: 2px 2px 1.5px 1px black;
  border-radius: 2%;
}

.start-here {
  margin: 0 auto;
}

.start-here span {
  font-family: "Roboto";
  font-size: 1.75rem;
  text-align: center;
}

/* Main Banner Media Query */
@media screen and (max-width: 1024px) {
  .banner {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 2rem;
    }

    .left {
      width: auto;
    }

    .right {
      width: auto;
    }

    .banner-image {
      width: 100%;
      height: auto;
    }

    .banner-headline h1 {
      width: auto;
      font-size: 3.25rem;
    }

    .banner-subtext h3{
      width: auto;
      font-size: 2rem;
    }
}

@media screen and (max-width: 640px) {
  .banner {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-bottom: 2rem;
    }

    .left {
      width: auto;
    }

    .right {
      width: auto;
    }

    .banner-image {
      width: 100%;
      height: auto;
    }

    .banner-headline h1 {
      font-size: 2.5rem;
      width: auto;
    }

    .banner-subtext h3{
      font-size: 1.25rem;
      width: auto;
    }
}

/* INFORMATION SECTION */

.information {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fffff0;
  padding-bottom: 2rem;
}

/* Left Info Banner */
.left-info {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.information-image {
  width: 100%;
}

.left-text {
  padding: 2rem 1.5rem;
}

.left-subtext {
  margin: 1.5rem 0 3rem 0;
  font-style: italic;
}

/* Right Info Banner */
.right-info {
  width: 40%;
  display: flex;
  padding-top: 2rem;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #fffacd;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  width: 100%;
}

.info-image {
  width: 35%;
  height: auto;
}

.info-image img {
  width: 100%;
}

.info-image .mobile {
  display: none;
}

.info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 65%;
  padding-left: 1.5rem;
  padding-right: 1rem;
}

.info-text a:hover {
  font-weight: bold;
}

.info-text h3{
  font-size: 2rem;
  font-weight: bold;
}

.what {
  font-family: "Lato";
  font-size: 1.5rem;
}

.subwhat {
  padding: 1rem 0;
}

.info-text a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: #6495ed;
}

.orientation {
  border-bottom: 2rem solid #fffff0;
}

.campus {
  border-bottom: 2rem solid #fffff0;
}

.guest-lecturer {
  background-color: #808080;
  color: #fffacd;
}

.guest-lecturer a {
  color: #e0ffff;
}

/* Information Media Query */
@media screen and (max-width: 640px) {
  .information {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-bottom: 2rem;
    }

    .left-info {
      width: auto;
    }

    .right-info {
      width: auto;
    }

    .information-image {
      width: 100%;
      height: auto;
    }

    .info-image .desktop{
      display: none;
    }

    .info-image .mobile {
      display: flex;
      width: 100%;
    }

    .left-text {
      width: auto;
    }

    .left-text h2 {
      font-size: 2rem;
    }

    .left-subtext {
      margin: 1.5rem 0;
    }

    .left-subtext span{
      width: auto;
      font-size: 1rem;
    }

    p {
      font-size: .75rem;
    }
}

/* COURSES GRID SECTION */

.learning-desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #808080;
}

.learning-mobile {
    display: hide;
}

.title-learning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #808080;
  padding: 2rem 0;
  text-shadow: .5px .5px .75px black;
  letter-spacing: .025em;
}

.title-learning h2 {
  color: #fffacd;
}

.learning-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  padding: 0 4.5rem 2rem 4.5rem;
}

.course-container {
  background-color: #fffff0;
}

.course-image {
  width: 100%;
  height: auto;
}

.course-image img {
  width: 100%;
}

.learning-mobile {
  display: none;
}

.course-type h3 {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1rem 1rem 0 1rem;
}

.courses {
  padding: .5rem 1rem;
}

.courses span {
  font-size: 1.35rem;
}

.courses-list {
  padding: 0 1rem 2rem 1rem;
}

.courses-list span {
  font-size: 1rem;
}

/* Courses Media Query */

@media screen and (max-width: 640px) {
  .learning-desktop {
    display: none;
  }

  .learning-mobile {
    background-color: #808080;display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title-learning {
    padding: 2rem 0 1rem 0;
    margin: 0;
  }

  .course-container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    margin: 0rem auto 2rem auto;
    width: 95%;
  }

  .course-type-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 1rem;
    padding-bottom: 1.5rem;
    background-color: #fffacd;
    box-shadow: 2px 2px 1.5px 1px black;
    border-radius: 2%;

  }

  .course-type-mobile h3 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 1rem 0 1rem;
  }
}

/* THESIS SECTION */

.title-thesis h2 {
  width: 100%;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  background-color: #fffff0;
  color: black;
  letter-spacing: .025em;
}

.thesis-desktop {
  width: 100%;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: #fffff0;
}

.thesis-mobile {
  display: none;

}

/* Left Thesis */
.left3 {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.video-container {
  width: 100%;
}

.thesis-video {
  width: 100%;
}

.left-text {
  padding: 2rem 1.5rem;
}

.left-subtext {
  margin: 1.5rem 0 3rem 0;
  font-style: italic;
}

/* Right Thesis */
.right-thesis {
  width: 40%;
  display: flex;
}

.thesis-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.thesis-image {
  width: 35%;
  height: auto;
}

.thesis-image img {
  width: 100%;
}

.thesis-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 65%;
  padding-left: 1.5rem;
  padding-right: 1rem;
}

.thesis-text h3 {
  font-size: 2rem;
  font-weight: bold;
}

.thesis-text a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: #6495ed;
}

.fisma{
  border-top: 1rem solid #fffff0;
  border-bottom: 1rem solid #fffff0;
}

.now-then {
  border-bottom: 1rem solid #fffff0;
}

@media screen and (max-width: 640px) {
  .thesis-desktop {
    display: none;
  }

  .thesis-mobile {
    display: flex;
  }

  .video-container {
    width: 100%;
    height: auto;
  }
}

/* FOOTER SECTION */

footer {
  width: 100%;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fffff0;
}

.copyright {
  padding-left: 1.5rem;
  padding-bottom: 2rem;
}

.terms {
  padding-right: 1.5rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 640px) {
  .terms {
    display: none;
  }

  .copyright {
    padding: 1rem;
    margin-top: 1.5rem;
  }
}
